<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Check In Page</title>
        <link rel="stylesheet" type="text/css" href="../styles/index.css">
        <link rel="stylesheet" type="text/css" href="../styles/skeleton.css">  
        <link rel="stylesheet" type="text/css" href="../styles/crow.css">  
        <link rel="stylesheet" type="text/css" href="../styles/w3.css">  
        <script src="../scripts/jquery.min.js" type="text/JavaScript" ></script>
        <script src="../scripts/checkIn.js" type="text/JavaScript"></script>
    </head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <body>
        <header class="desktop">
        </header>
        <br><br>
    </body>

    <body>
        <form>
            <div class="row">
                <div class="one-half column" style="padding-right: 10px;padding-left: 10px;">
                    <label for="name">Your Name</label>
                    <input type="search" autocomplete="off" class="u-full-width" id="name">
                </div>
                <div class="one-half column"style="padding-right: 10px;padding-left: 10px;">
                    <label for="name">Current Mileage</label>
                    <input type="search" autocomplete="off" class="u-full-width" id="mileage">
                </div>
                </div>
            </div>
            <div class="row" style="padding-left: 10px; padding-right: 10px;">
                <label for="report">Maintenence Report</label>
                <textarea class="u-full-width" placeholder="Looks Good! ..." id="report"></textarea>
            </div>
            <br>
            <div class="row" style="padding-left: 10px; padding-right: 10px;">
                <button type = "button" id="check-in" class=" button button-primary" onclick="checkIn()">CHECK IN</button>
            </div>
            <br><br><br>
            <div style="padding-left: 10px;">
                <label for="Or to Check Out..">Or to Check Out...</label>
                <a href = "checkOut.html" class="button button-primary">Check Out</a>
            </div>
        </form>
    </bodY>

    
</html>
